# Created by https://www.gitignore.io/api/windows,visualstudiocode
# Edit at https://www.gitignore.io/?templates=windows,visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/windows,visualstudiocode

.eslintrc.js
.eslint*

js/t.js
package.json
js/t1.js
js/t2.js
