[Desktop Entry]
Encoding=UTF-8
Name=Link to Build Weather App With Ajax Using Open Weather Map API: Current Weather Ajax Request - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=KT6Jaxl0JM4
Icon=text-html
