[Desktop Entry]
Encoding=UTF-8
Name=Link to Current weather data - OpenWeatherMap
Type=Link
URL=https://openweathermap.org/current#current_JSON
Icon=text-html
