.post {
    margin: 1.2em 0em 0.5em 0.7em;
    padding: 0em 0em 0em 0.5em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(77, 0, 0);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-decoration: none;
}

.post__id {
    margin: 1.2em 0em 0.5em 0.7em;
    padding: 0em 0em 0em 0.5em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(77, 0, 0);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-decoration: none;
}

.post__title {
    margin: 1.2em 0em 0.5em 0.7em;
    padding: 0em 0em 0em 0.5em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:rgb(77, 0, 0);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-decoration: none;
}

.post__userId {
    margin: 1.2em 0em 0.5em 0.7em;
    padding: 0em 0em 0em 0.5em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(77, 0, 0);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-decoration: none;
}